<html>

<script>
var url = "https://action-lcgpj.run-eu-central1.goorm.io/sockets/server/index";

var xhr = new XMLHttpRequest();
xhr.open("GET", url);

xhr.setRequestHeader("Connection", "keep-alive");
xhr.setRequestHeader("Keep-Alive", "timeout=5, max=100");

xhr.onreadystatechange = function () {
   if (xhr.readyState === 4) {
      console.log(xhr.status);
      console.log(xhr.responseText);
   }};

xhr.send();

</script>

<body>
<p>Please check the console log of your browser.</p>
</body>
</html>
