<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Product - Brand</title>
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/ziel.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">SUITEZIEL</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="wallet">Wallet</a></li>
                    <li class="nav-item"><a class="nav-link active" href="exchange">Exchange</a></li>
                    <li class="nav-item"><a class="nav-link" href="ico">ICO</a></li>
                    <li class="nav-item">
                        <div class="topbar-divider"></div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1 nav-wallet-alerts">
                        
												<a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in shadow">
                                <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="me-3">
                                        <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 12, 2019</span>
                                        <p>A new monthly report is ready to download!</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="me-3">
                                        <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 7, 2019</span>
                                        <p>$290.29 has been deposited into your account!</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="me-3">
                                        <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 2, 2019</span>
                                        <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                    </div>
                                </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        		<div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                      
												<a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">7</span><i class="fas fa-network-wired fa-fw"></i></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in shadow">
                                <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image me-3"><img class="rounded-circle">
                                        <div class="bg-success status-indicator"></div>
                                    </div>
                                    <div class="fw-bold">
                                        <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                        <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image me-3"><img class="rounded-circle">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div class="fw-bold">
                                        <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                        <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image me-3"><img class="rounded-circle">
                                        <div class="bg-warning status-indicator"></div>
                                    </div>
                                    <div class="fw-bold">
                                        <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                        <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image me-3"><img class="rounded-circle">
                                        <div class="bg-success status-indicator"></div>
                                    </div>
                                    <div class="fw-bold">
                                        <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                        <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                    </div>
                                </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        
                        <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                    </li>
                    <li class="nav-item no-arrow mx-1">
                        <div class="nav-item dropdown"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown"><span class="d-none d-lg-inline me-2 text-gray-600 small">0x00...00000</span><img class="border rounded-circle img-profile" src="assets/img/suiteziel-modified.png"></a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div>
                    </li>
                    <li class="nav-item no-arrow mx-1 d-none" style="display: grid;align-items: center;">
                        <div><a class="btn btn-primary btn-sm d-none d-sm-inline-block button-connect-wallet align-bottom" role="button" href="#"><i class="fas fa-bolt fa-sm text-white-50"></i>&nbsp;Connect Wallet</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page exchange-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="pt-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><span>Home</span></a></li>
                        <li class="breadcrumb-item"><a href="#"><span>Library</span></a></li>
                        <li class="breadcrumb-item"><a href="#"><span>Data</span></a></li>
                    </ol>
                </div>
                <div class="block-content">
                    <div class="product-info exchange-panel">
                        <div class="row">
                            <div class="col">
															<span clss="client_result"></span>
														</div>
												</div>
                        <div class="row">
                            <div class="col">
                                <h3>Exchange</h3>
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <fieldset>
                                                <legend>From</legend>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
																					<label class="form-label" for="exchange-panel-amount-from">Amount</label>
																					<input class="form-control" type="text" id="exchange-panel-amount-from" name="amount_from" value="1">
																					<label class="form-label" for="exchange-panel-address-from">Address</label>
																					<input class="form-control" type="text" id="exchange-panel-address-from" name="address_from" value="0xA9b1fd53086E67BA34F4945353b564E63a7FeBb0">																					
																				</div>
                                        <div class="col">
																					<label class="form-label" for="exchange-panel-token-from">Balance:<br></label><span class="px-1">0</span>
																					<select class="form-select" id="exchange-panel-token-from" name="token_from">
                                                <optgroup label="ERC-20 group">
																										<option value="0x583cFDcE49120f3DA6a2f9aea7d96c48C9c1302B" selected="">Cors Token (CORS)</option>
																										<option value="">Ethereum (ETH)</option>
                                                    <option value="0xdAC17F958D2ee523a2206206994597C13D831ec7">Tether USD (USDT)</option>
                                                    <option value="0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48">USD Coin (USDC)</option>
																										<option value="0xB8c77482e45F1F44dE1745F52C74426C631bDD52">BNB (BNB)</option>
                                                    <option value="0x4Fabb145d64652a948d72533023f6E7A623C7C53">Binance USD (BUSD)</option>
                                                </optgroup>
                                            </select>
																				</div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <div class="col"><a class="btn btn-primary my-3" href="#"><i class="fa fa-arrow-circle-down fa-1x"></i></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <fieldset>
                                                <legend>To</legend>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><label class="form-label" for="exchange-panel-amount-to">Amount</label>
																				<input class="form-control" type="text" id="exchange-panel-amount-to" name="amount_to" value="1">
																				
                                        <div class="col"><label class="form-label" for="exchange-panel-address-to">Address</label>
																				<input class="form-control" type="text" id="exchange-panel-address-to" name="address_to" value="0xA9b1fd53086E67BA34F4945353b564E63a7FeBb0"></div>
																				
																				</div>
                                        <div class="col">
																				<label class="form-label" for="exchange-panel-token-to">Balance:</label><span class="px-1">0</span>
																				<select class="form-select" id="exchange-panel-token-to" name="token_to">
                                                <optgroup label="ERC-20 group">
																										<option value="0x583cFDcE49120f3DA6a2f9aea7d96c48C9c1302B">Cors Token (CORS)</option>
																										<option value="">Ethereum (ETH)</option>
                                                    <option value="0xdAC17F958D2ee523a2206206994597C13D831ec7">Tether USD (USDT)</option>
                                                    <option value="0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48">USD Coin (USDC)</option>
																										<option value="0xB8c77482e45F1F44dE1745F52C74426C631bDD52" selected="">BNB (BNB)</option>
                                                    <option value="0x4Fabb145d64652a948d72533023f6E7A623C7C53">Binance USD (BUSD)</option>
                                                </optgroup>
                                            </select></div>
                                    </div>
                                    <div class="row" style="text-align: right;">
                                        <div class="col mt-3">
                                            <div><span id="exchange-price-number-1">Price:&nbsp;</span><span id="exchange-price-number-2">0</span><span>&nbsp;per&nbsp;</span><span id="exchange-price-symbol">ZIEL</span><span class="mx-1"><i class="fa fa-exchange"></i></span></div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <div class="col"><button class="btn btn-primary mt-3">Swap</button></div>
                                    </div>
																		
																		
																		
																		
                                    
                                    <div class="row">
                                        <div class="col">
																					<label for="wallet-mnemonic" class="form-label">Mnemonic Phrase</label>
																					<input id="wallet-mnemonic" name="mnemonic" class="form-control" type="text" >
																					<label for="wallet-privatekey" class="form-label">Private Key</label>
																					<input id="wallet-privatekey" name="privatekey" class="form-control" type="text" >
																				</div>
                                        <div class="col">
																				

																					<label class="form-label" for="wallet-import-step-2-network">Network</label>
																					<select name="network" id="wallet-import-step-2-network" class="form-select" required="">
																					<optgroup label="Ethereum group">
																							<option value="homestead" >Mainnet</option>
																							<option value="ropsten" selected="">Ropsten</option>
																							<option value="rinkeby">Rinkeby</option>
																							<option value="goerli">Goerli</option>
																							<option value="kovan">Kovan</option>
																					</optgroup>
																					</select>
																					<label for="wallet-gas-limit" class="form-label">Gas limit</label>
																					<input id="wallet-gas-limit" name="gas_limit" class="form-control" type="text" value="5000000" required="">
																					<label for="wallet-gas-price" class="form-label">Gas price</label>
																					<input id="wallet-gas-price" name="gas_price" class="form-control" type="text" value="100000000000" required="">		


																						
																				</div>
																		</div>
																		
																		
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Copyright Text</p>
        </div>
    </footer>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
		<script src="assets/js/Ziel_exchange.js"></script>


</body>

</html>
