<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Product - Brand</title>
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/ziel.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">SUITEZIEL</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="wallet">Wallet</a></li>
                    <li class="nav-item"><a class="nav-link" href="exchange">Exchange</a></li>
                    <li class="nav-item"><a class="nav-link" href="ico">ICO</a></li>
                    <li class="nav-item">
                        <div class="topbar-divider"></div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1 nav-wallet-alerts">
                        
												<a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in shadow">
                                <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="me-3">
                                        <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 12, 2019</span>
                                        <p>A new monthly report is ready to download!</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="me-3">
                                        <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 7, 2019</span>
                                        <p>$290.29 has been deposited into your account!</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="me-3">
                                        <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 2, 2019</span>
                                        <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                    </div>
                                </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        		<div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                      
												<a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">7</span><i class="fas fa-network-wired fa-fw"></i></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in shadow">
                                <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image me-3"><img class="rounded-circle">
                                        <div class="bg-success status-indicator"></div>
                                    </div>
                                    <div class="fw-bold">
                                        <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                        <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image me-3"><img class="rounded-circle">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div class="fw-bold">
                                        <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                        <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image me-3"><img class="rounded-circle">
                                        <div class="bg-warning status-indicator"></div>
                                    </div>
                                    <div class="fw-bold">
                                        <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                        <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image me-3"><img class="rounded-circle">
                                        <div class="bg-success status-indicator"></div>
                                    </div>
                                    <div class="fw-bold">
                                        <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                        <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                    </div>
                                </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        
                        <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                    </li>
                    <li class="nav-item no-arrow mx-1">
                        <div class="nav-item dropdown"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown"><span class="d-none d-lg-inline me-2 text-gray-600 small">0x00...00000</span><img class="border rounded-circle img-profile" src="assets/img/suiteziel-modified.png"></a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div>
                    </li>
                    <li class="nav-item no-arrow mx-1 d-none" style="display: grid;align-items: center;">
                        <div><a class="btn btn-primary btn-sm d-none d-sm-inline-block button-connect-wallet align-bottom" role="button" href="#"><i class="fas fa-bolt fa-sm text-white-50"></i>&nbsp;Connect Wallet</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page wallet-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <ol class="breadcrumb pt-4">
                    <li class="breadcrumb-item"><a href="#"><span>Home</span></a></li>
                    <li class="breadcrumb-item"><a href="#"><span>Library</span></a></li>
                    <li class="breadcrumb-item"><a href="#"><span>Data</span></a></li>
                </ol>
                <div class="block-content">
                    <div class="wallet-panel">
                        <div class="row">
                            <div class="col-md-6 wallet-import-step-1">
                                <div class="info">
                                    <h3>Import</h3><button class="btn btn-primary" type="button">Import wallet</button>
                                    <div class="summary">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 wallet-new-step-1">
                                <div class="info">
                                    <h3>New</h3><button class="btn btn-primary" type="button">New Wallet</button>
                                    <div class="summary">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-import-step-2">
                        <div class="row">
                            <div class="col">
                                <h3>Import wallet</h3>
																<a class="text-end" href="#">Back</a>
                                <div class="summary">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Vestibulum diam risus, sagittis at fringilla at, pulvinar vel risus. Vestibulum dignissim eu nulla eu imperdiet. Morbi mollis tellus a nunc vestibulum consequat. Quisque tristique elit et nibh dapibus sodales. Nam sollicitudin a urna sed iaculis.</p>
                                </div>
                                <form>
                                    <div class="mb-3">
																			<label class="form-label" for="wallet-import-step-2-mnemonic-phrase" type="password">Mnemonic Phrase</label>
																			<input class="form-control" type="password" id="wallet-import-step-2-mnemonic-phrase" name="mnemonic" >
																			<label class="form-label" for="wallet-import-step-2-privatekey" type="text">Private Key</label>
																			<input class="form-control" type="text" id="wallet-import-step-2-privatekey" name="privatekey" value="">
																			<label class="form-label" for="wallet-import-step-2-network">Network</label>
																			<select name="network" id="wallet-import-step-2-network" class="form-select" required="">
																				<optgroup label="Ethereum group">
																						<option value="homestead" >Mainnet</option>
																						<option value="ropsten" selected="">Ropsten</option>
																						<option value="rinkeby">Rinkeby</option>
																						<option value="goerli">Goerli</option>
																						<option value="kovan">Kovan</option>
																				</optgroup>
                                        </select>
																		</div>
																		<button class="btn btn-primary" type="submit">Import</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-new-step-2">
                        <div class="row">
                            <div class="col">
                                <h3>New wallet network</h3><a class="text-end" href="#">Back</a>
                                <div class="summary">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Vestibulum diam risus, sagittis at fringilla at, pulvinar vel risus. Vestibulum dignissim eu nulla eu imperdiet. Morbi mollis tellus a nunc vestibulum consequat. Quisque tristique elit et nibh dapibus sodales. Nam sollicitudin a urna sed iaculis.</p>
                                </div>
                                <form>
    
                                    <div class="mb-3">
																			<label class="form-label" for="wallet-new-step-2-network">Network</label>
																			<select name="network" id="wallet-new-step-2-network" class="form-select" required="">
																				<optgroup label="Ethereum group">
																						<option value="homestead" selected="">Mainnet</option>
																						<option value="ropsten">Ropsten</option>
																						<option value="rinkeby">Rinkeby</option>
																						<option value="goerli">Goerli</option>
																						<option value="kovan">Kovan</option>
																				</optgroup>
                                        </select>
																				</div><button class="btn btn-primary" type="submit">New wallet</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-new-step-3">
                        <div class="row">
                            <div class="col">
                                <h3>New Wallet</h3><a class="text-end" href="#">&lt;Back</a>
                                <div class="summary">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Vestibulum diam risus, sagittis at fringilla at, pulvinar vel risus. Vestibulum dignissim eu nulla eu imperdiet. Morbi mollis tellus a nunc vestibulum consequat. Quisque tristique elit et nibh dapibus sodales. Nam sollicitudin a urna sed iaculis.</p>
                                </div>
                                <div class="text-center mx-4 my-2 px-3 py-1" style="border-radius: 5px;border: 2px solid var(--bs-blue);"><span class="text-center">Mnemonic Phrase</span></div>
                                <form><button class="btn btn-primary" type="submit">Finish</button></form>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-account">
                        <div class="row">
                            <div class="col">
                                <div class="info">
                                    <h6>Account</h6>
																		<img src="assets/img/star-empty.svg">
                                    <h3>300.00</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div><button class="btn btn-primary account-send" type="button">Send</button><button class="btn btn-primary account-receive" type="button">Receive</button><button class="btn btn-primary account-token" type="button">Import Token</button></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div><button class="btn btn-primary account-new" type="button">New account</button><button class="btn btn-primary account-export" type="button">Export</button><button class="btn btn-primary account-import" type="button">Import</button></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div><button class="btn btn-primary account-transactions" type="button">Show Transactions</button></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li>Item 1 wwwwwwww<a href="#">Link<img><span>Text</span><small>Text</small></a></li>
                                    <li>Item 2 qqqqqqqqqq<a href="#">Link<img><span>Text</span><small>Text</small></a></li>
                                    <li>Item 3 eeeeeeeeee<a href="#">Link<img><span>Text</span><small>Text</small></a></li>
                                    <li>Item 4 hhhhhhhhhh<a href="#">Link<img><span>Text</span><small>Text</small></a></li>
                                </ul>
                            </div>
                        </div>
												
												
												
                        <div class="row">
                            <div class="col">
                                <div>
																		<span class="wallet-abi"><span>
																</div>
                                <div>
																		<span id="wallet-abi-balance"><span>
                                    <form>
                                        <div><label for="wallet-abi-contract" class="form-label">Token Contract Address</label>
																					<input id="wallet-abi-contract" name="contract" class="form-control" type="text" required="" value="0xB404c51BBC10dcBE948077F18a4B8E553D160084" ></div>
                                        <div><label for="wallet-abi-account" class="form-label">Account Address</label>
																					<input id="wallet-abi-account" name="account" class="form-control" type="text" required="" value="0x73aB2b105Bbf32F1976AF4F2545736C26E73E3C3"></div>
																					<br>
																					<p>Do not change</p>
																					<div><label for="wallet-mnemonic" class="form-label">Mnemonic Phrase</label>
																					<input id="wallet-mnemonic" name="mnemonic" class="form-control" type="text" ></div>
																					<div><label for="wallet-privatekey" class="form-label">Private Key</label>
																					<input id="wallet-privatekey" name="privatekey" class="form-control" type="text" ></div>
																					<div><label for="wallet-network" class="form-label">Network</label>
																					<input id="wallet-network" name="network" class="form-control" type="text" ></div>
                                    </form>
                                </div>
                            </div>
                        </div>
												
												
												
                    </div>
                    <div class="wallet-lists">
                        <div class="row">
                            <div class="col">
                                <h3>List Tokens</h3><a class="text-end" href="#">&lt;Back</a>
                                <ul>
                                    <li>Item 1<a href="#">Link<img><span>Text</span><small>Text</small></a></li>
                                    <li>Item 2</li>
                                    <li>Item 3</li>
                                    <li>Item 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-send">
                        <div class="row">
                            <div class="col">
                                <h3>Send {token}</h3><a class="text-end" href="#">&lt; Back</a>
                                <div>
                                    <form>
                                        <div><label for="wallet-send-contract" class="form-label">Contract</label>
																					<input id="wallet-send-contract" name="contract" class="form-control" type="text" value="0x583cFDcE49120f3DA6a2f9aea7d96c48C9c1302B"></div>
                                        <div><label for="wallet-send-from" class="form-label">From</label>
																					<input id="wallet-send-from" name="from" class="form-control" type="text" required="" ></div>
                                        <div><label for="wallet-send-to" class="form-label">To</label>
																					<input id="wallet-send-to" name="to" class="form-control" type="text" required="" value="0xA9b1fd53086E67BA34F4945353b564E63a7FeBb0" ></div>
                                        <div><label for="wallet-send-amount" class="form-label">Amount</label>
																					<input id="wallet-send-amount" name="amount" class="form-control" type="text" required="" value="200"></div>
                                        <div><label for="wallet-gas-limit" class="form-label">Gas limit</label>
																					<input id="wallet-gas-limit" name="gas_limit" class="form-control" type="text" value="5000000" required=""></div>
                                        <div><label for="wallet-gas-price" class="form-label">Gas price</label>
																					<input id="wallet-gas-price" name="gas_price" class="form-control" type="text" value="100000000000" required=""></div>
																					<br>
																					<p>Do not change</p>
																					<div><label for="wallet-mnemonic" class="form-label">Mnemonic Phrase</label>
																					<input id="wallet-mnemonic" name="mnemonic" class="form-control" type="text" ></div>
																					<div><label for="wallet-privatekey" class="form-label">Private Key</label>
																					<input id="wallet-privatekey" name="privatekey" class="form-control" type="text" ></div>
																					<div><label for="wallet-network" class="form-label">Network</label>
																					<input id="wallet-network" name="network" class="form-control" type="text" ></div>
																				<button class="btn btn-primary mt-2" type="submit">Next</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-account-transactions">
                        <div class="row">
                            <div class="col">
                                <h3>Transactions</h3><a class="text-end" href="#">&lt; Back</a>
                                <ul>
                                    <li>Item 1</li>
                                    <li>Item 2</li>
                                    <li>Item 3</li>
                                    <li>Item 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-receive">
                        <div class="row">
                            <div class="col">
                                <h3>Receive {token}</h3><a class="text-end" href="#">&lt; Back</a>
                                <div class="text-center"><span>Token address</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-import-token">
                        <div class="row">
                            <div class="col">
                                <h3>Import Token</h3><a class="text-end" href="#">&lt; Back</a>
                                <div>
                                    <form>
                                        <div><label class="form-label">Contract address</label><input class="form-control" type="text" required=""></div>
                                        <div><label class="form-label">Symbol</label><input class="form-control" type="text" disabled=""></div>
                                        <div><label class="form-label">Decimals</label><input class="form-control" type="text" disabled=""></div><button class="btn btn-primary mt-2" type="submit">Import new token</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-account-new">
                        <div class="row">
                            <div class="col">
                                <div class="info">
                                    <h3>New wallet account</h3><a class="text-end" href="#">Back</a>
                                    <div class="summary">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Vestibulum diam risus, sagittis at fringilla at, pulvinar vel risus. Vestibulum dignissim eu nulla eu imperdiet. Morbi mollis tellus a nunc vestibulum consequat. Quisque tristique elit et nibh dapibus sodales. Nam sollicitudin a urna sed iaculis.</p>
                                    </div>
                                    <form>
                                        <div class="mb-3"><select class="form-select" hidden="">
                                                <optgroup label="This is a group">
                                                    <option value="12" selected="">This is item 1</option>
                                                    <option value="13">This is item 2</option>
                                                    <option value="14">This is item 3</option>
                                                </optgroup>
                                            </select></div><button class="btn btn-primary" type="submit">New account</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-account-import">
                        <div class="row">
                            <div class="col">
                                <div class="info">
                                    <h3>Import wallet account</h3><a class="text-end" href="#">Back</a>
                                    <form>
                                        <div class="mb-3"><label class="form-label" for="wallet-account-import-privatekey" type="password">Private Key</label>
																				<input id="wallet-account-import-privatekey" name="privatekey" class="form-control" type="password"></div>
                                        <div class="mb-3"><label class="form-label" for="wallet-account-import-mnemonic" type="text">Mnemonic Phrase</label>
																				<input id="wallet-account-import-mnemonic" name="mnemonic" class="form-control" type="text"></div>
																				<button class="btn btn-primary" type="submit">Import</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-account-export">
                        <div class="row">
                            <div class="col">
                                <div class="info">
                                    <h3>Export wallet account</h3><a class="text-end" href="#">Back</a>
                                    <div class="summary">
                                        <p>Private Key</p>
                                    </div>
                                    <div class="text-center mx-4 my-2 px-3 py-1" style="border-radius: 5px;border: 2px solid var(--bs-blue);">
																		<span class="text-center" id="privatekey">Private Key string</span></div>
                                    <div class="summary">
                                        <p>Mnemonic Phrase</p>
                                    </div>
                                    <div class="text-center mx-4 my-2 px-3 py-1" style="border-radius: 5px;border: 2px solid var(--bs-blue);">
																		<span class="text-center" id="mnemonic">Mnemonic Phrase string</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-spinner">
                        <div class="row">
                            <div class="col">
                                <div class="info">
                                    <h3>Loading</h3>
                                    <div class="text-center summary"><span class="spinner-border text-center" role="status"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Copyright Text</p>
        </div>
    </footer>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
		<script src="assets/js/Ziel_wallet.js"></script>


</body>

</html>