
.clean-navbar .navbar-nav .nav-link {
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;
}

.img-profile {
  height: 2rem;
  width: 2rem;
}

body {
  font-family: Nunito, sans-serif;
}

.nav-item a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

span.text-gray-600 {
  cursor: pointer;
}

.clean-navbar .navbar-nav .nav-item {
  padding: 0 !important;
}

.topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}

